<ion-header>
  <ion-toolbar>
    <ion-title>
      OpenID Connect
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="isAuthenticated && !isExpired">
      <p>You are now logged in!</p>

      <p>User details:</p>
    
      <p>{{ user | json }}</p>

      <ion-button (click)="fetchUserInfo()">Fetch User Info</ion-button>

      <ion-button (click)="logout()">Logout</ion-button>
  </div>

  <div *ngIf="!isAuthenticated || isExpired">
    <p>You are not logged in</p>

    <ion-button (click)="login()">Login</ion-button>
  </div>
  
</ion-content>
